[submodule "themes/hugo-theme-hello-friend-ng"]
	path = themes/hugo-theme-hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "public"]
	path = public
	url = git@github.com:GenXYZTech/GenXYZTech.github.io.git
	branch = master
